<ion-view view-title="Sign In">
    <ion-content>
        <ion-list ng-if="starter.showLogin">
            <label class="item item-input">
                <span class="input-label">Server</span>
                <input type="text" ng-model="starter.url" autocapitalize="off">
            </label>

            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="starter.email" autocapitalize="off">
            </label>

            <label class="item item-input">
                <span class="input-label">password</span>
                <input type="password" ng-model="starter.password" autocapitalize="off">
            </label>

            <button class="button button-positive" ng-click="starter.login()">
                Sign In
            </button>
        </ion-list>
    </ion-content>
</ion-view>
